* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #54677c;
}


.card {
    position: relative;
    width: 310px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 9px 0 rgb(222, 205, 190);
    padding: 16px;
    margin:  56px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 250ms;

}

.card:hover {
    transform: translateY(-11px);
  }

.card-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 25px -15px rgb(231, 184, 0),
    0 2px 9px 0 rgba(255, 145, 0, 0.877);
}

.card-image img {
    width: 100%;
    transform: scale(1.2);
}

p {
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    text-align: center;
}

.name {
    margin-top: 80px;
    font-size: 1.7em;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

